@media all and (min-width: 480px) {
  .ConfirmSignup {
    padding: 60px 0;
  }

  .ConfirmSignup form {
    margin: 0 auto;
    max-width: 320px;
  }

  .ConfirmSignup form .LoaderContainer {
    text-align: center;
    width: 100%;
  }
}
