.Home {
  padding: 20px 0;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home form {
  margin: 0 auto;
  max-width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.Home form label,
.Credentials {
  font-size: 18px;
  line-height: 20px;
  padding-top: 30px;
  width: 100%;
}

.Home form input {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  color: #777;
  padding: 15px 15px;
  margin-top: 10px;
  width: 100%;
}

input:read-only {
  background-color: #f8f8f8;
}

.Home .ShareToken {
  display: flex;
  flex-direction: row;
}

.Home .ShareToken button {
  margin-top: 10px;
  margin-left: 10px;
}

.Home form textarea {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  color: #777;
  padding: 15px 15px;
  line-height: 1.5;
  resize: none;
  width: 100%;
}

.Home textarea {
  margin-bottom: 20px;
}

.ValidateArea {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.ValidateArea > div:first-child {
  display: flex;
  flex-direction: row;
}

.ValidateArea > div:first-child > button {
  margin-right: 15px
}

.ValidateError {
  display: flex;
  align-items: center;
}

.Icon {
  margin: 0 20px;
  max-width: 30px;
  max-height: 30px;
  min-height: 30px;
  min-width: 30px;
}

.ErrorMessage {
  font-size: 16px;
}

.LoadingGif {
  margin-left: 20px;
}

textarea .ValidateArea {
  pointer-events: none;
}

.Title {
  font-weight: 700;
}
