.Card {
  font-family: Poppins, sans-serif;
  font-style: normal;
  min-height: 700px;
  max-height: 700px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card .Header,
.Card .Issuer-Holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Card .Issuer-Container,
.Card .Holder-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 45%;
}

.Card .Issuer-Container .Issuer,
.Card .Holder-Container .Holder {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.Card .Values {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.Card .Value {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  flex: 0 0 auto;
}

.Card .ID {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Green {
  background-color: #E9F5CC !important;
}

.Blue {
  background-color: #C4EAFD !important;
}

.Pink {
  background-color: #EAD7E3 !important;
}

.Yellow {
  background-color: #E9E68D !important;
}

.Default {
  background-color: #f9f9f9 !important;
}

@media screen and (max-width: 800px) {
  .Card {
    padding: 80px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .Card .Type {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50%;
    margin-right: 10px;
  }
}
