.Card {
  font-family: Poppins, sans-serif;
  font-style: normal;
  min-height: 685px;
  max-height: 685px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card .Header,
.Card .Issuer-Holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Card .Issuer,
.Card .Holder {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50%;
}
